<div class="mt-8">
  <div class="overflow-x-auto mt-4">
    <table class="table-auto min-w-full bg-white shadow-md overflow-hidden">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="px-4 py-2 text-left">Spieler</th>
          <th class="px-4 py-2 text-left">Gewonnene Legs</th>
          <th class="px-4 py-2 text-left">Rest Score</th>
          <th class="px-4 py-2 text-left">Runde</th>
          <th class="px-4 py-2 text-left">Runden Durchschnitt</th>
          <th class="px-4 py-2 text-left">Höchster Wurf</th>
          <th class="px-4 py-2 text-left">Aktiv?</th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <tr *ngFor="let player of sortedGameData" class="border-b">
          <td class="px-4 py-2 text-left">{{ player.playerName }}</td>
          <td class="px-4 py-2 text-left">{{ player.wins }}</td>
          <td class="px-4 py-2 text-left">{{ player.score }}</td>
          <td class="px-4 py-2 text-left">{{ player.round }}</td>
          <td class="px-4 py-2 text-left">{{ player.roundAverage }}</td>
          <td class="px-4 py-2 text-left">{{ player.highestRound }}</td>
          <td class="px-4 py-2 text-left">
            <div class="player-status">
              <i
                *ngIf="player.isActive"
                class="fa-solid fa-check text-green-500 cursor-pointer"
                (click)="togglePlayerStatus(player)"
              ></i>
              <i
                *ngIf="!player.isActive"
                class="fa-solid fa-ban text-red-500 cursor-pointer"
                (click)="togglePlayerStatus(player)"
              ></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
