.btn-base {
    width: 100%; /* Volle Breite innerhalb der Spalte */
    padding: 20px 20px;
    text-align: center;
    border: none;
    border-radius: 4px;
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
    font-weight: 600;
  }

  .btn-base:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }