<div class="min-h-screen bg-gray-900 text-white p-6 flex flex-col items-center">
  <header class="text-center mb-8">
    <img src="assets/images/logo.png" alt="PeiDu Dart Scorer" class="mx-auto">
  </header>
  
  <main class="w-full max-w-4xl space-y-6">
  <div class="bg-gray-800 p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold text-green-500 mb-4">Spieler hinzufügen</h2>
    <div class="mb-4">
      <app-error-message
      *ngIf="errorMessage"
      [errorMessage]="errorMessage"
    ></app-error-message>
    </div>
    <div class="flex gap-2 mb-4">
      <input
        type="text"
        [(ngModel)]="newPlayerName"
        [ngModelOptions]="{ standalone: true }"
        (keyup.enter)="addPlayer()"
        placeholder="Spielername eingeben"
        (input)="capitalizeFirstLetter()"
        class="flex-grow px-4 py-2 bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"
      />
      <button
        (click)="addPlayer()"
        class="bg-green-500 hover:bg-green-600 text-white font-semibold px-4 py-2 rounded-md">
        + Hinzufügen
      </button>
    </div>
    <ul class="space-y-2">
      <li
        *ngFor="let player of players"
        class="flex justify-between items-center bg-gray-700 px-4 py-2 rounded-md">
        <span>{{ player.playerName }}</span>
        <div class="flex items-center gap-2">
          <app-choose-song-modal #songModal></app-choose-song-modal>
          <button
          (click)="openModal(players.indexOf(player))"
            class="text-white bg-blue-500 hover:bg-blue-600 p-2 rounded-md">
            <i class="fas fa-music"></i>
          </button>
          <button
            (click)="removePlayer(players.indexOf(player))"
            class="text-white bg-red-500 hover:bg-red-600 p-2 rounded-md">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-stretch">
    <app-game-settings
      [title]="'Spielmodus'"
      [options]="gameModes"
      [(selectedOption)]="selectedGameMode"
      (selectedOptionChange)="updateGameMode($event)"
      class="flex flex-col justify-between bg-gray-800 rounded-lg shadow-md">
    </app-game-settings>
    <app-game-settings
      [title]="'Score'"
      [options]="scores"
      [(selectedOption)]="selectedScore"
      (selectedOptionChange)="updateScoreValue($event)"
      class="flex flex-col justify-between bg-gray-800 rounded-lg shadow-md">
    </app-game-settings>
  </div>
  <div class="mt-2">
    <button
  (click)="startGame()"
  class="w-full bg-green-500 hover:bg-green-600 text-white text-xl font-semibold py-4 rounded-lg mb-2">
  Spiel starten
</button>
<button
*ngIf="resetButton"
  (click)="resetData()"
  class="w-full bg-red-500 hover:bg-red-600 text-white text-xl font-semibold py-4 rounded-lg">
  Spieldaten zurücksetzen
</button>
  </div>
</main>
<footer class="mt-10 text-gray-500">
  <app-footer></app-footer>
</footer>