<!-- player-card -->
<div class="bg-gray-800 text-white rounded-lg shadow-lg p-6 mt-20">
  <div class="grid grid-cols-12">
    <div
      class="col-start-1 col-span-3 font-bold text-5xl text-center flex items-center"
    >
      <span>{{ gameData[currentPlayerCount].playerName }}</span>
      <i
        *ngIf="
          currentPlayerCount !== previousPlayerCount &&
          gameData[previousPlayerCount].firstDart !== '-' &&
          !legEnd
        "
        class="fa-2xs fa-solid fa-rotate-left text-red-800 ml-1 mb-8"
        (click)="backToLastPlayer()"
      ></i>
    </div>
    <div class="col-start-6 font-bold text-5xl text-center">
      {{ gameData[currentPlayerCount].score }}
    </div>
    <div class="col-start-12 text-center text-5xl bg-yellow-500">
      {{ gameData[currentPlayerCount].round }}
    </div>
  </div>
  <div class="grid grid-cols-12 mt-10">
    <div
      class="col-start-1 col-span-3 h-16 flex items-center justify-center bg-white text-black font-extrabold text-4xl"
      (click)="updateDartValue('firstDart')"
    >
      {{ gameData[currentPlayerCount].firstDart }}
    </div>
    <div
      class="col-start-5 col-span-3 text-center h-16 flex items-center justify-center bg-white text-black font-extrabold text-4xl"
      (click)="updateDartValue('secondDart')"
    >
      {{ gameData[currentPlayerCount].secondDart }}
    </div>
    <div
      class="col-start-9 col-span-3 text-center h-16 flex items-center justify-center bg-white text-black font-extrabold text-4xl"
      (click)="updateDartValue('thirdDart')"
    >
      {{ gameData[currentPlayerCount].thirdDart }}
    </div>
  </div>
  <div class="possibleCheckout font-bold text-4xl mt-10 text-center">
    <p>Möglicher Checkout:</p>
    <p class="mt-5">{{ possibleCheckout }}</p>
  </div>
</div>

<!-- player-card-end -->
