.player-card {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  
  .player-card::-webkit-scrollbar {
    display: none; /* WebKit-basierte Browser */
  }
  