<div class="grid grid-cols-2">
  <!-- active player card -->
  <div class="player-card" style="max-height: 100vh; overflow-y: auto;">
    <div class="bg-teal-700 text-white shadow-lg p-2 mt-20 mr-1">
      <div class="grid grid-cols-3">
        <div class="font-semibold items-center justify-start pl-4">
          Aktueller Spieler
        </div>
        <div class="font-semibold flex items-center justify-center">
          Runden Durchschnitt: {{ gameData[currentPlayerCount].roundAverage }}
        </div>
        <div class="font-semibold flex items-center justify-end pr-4">
          Runde: {{ gameData[currentPlayerCount].round }}
        </div>
      </div>
    </div>
    <div class="bg-gray-800 text-white shadow-lg p-4 mr-1">
      <div class="grid grid-cols-12">
        <div
          class="col-start-1 col-span-2 font-bold text-5xl text-center flex items-center"
        >
          <span>{{ gameData[currentPlayerCount].player }}</span>
          <div class="player-status ml-2 mb-8">
            <i
              *ngIf="gameData[currentPlayerCount].isActive"
              class="fa-2xs fa-solid fa-check text-green-500 cursor-pointer"
              (click)="togglePlayerStatus(gameData[currentPlayerCount])"
            ></i>
            <i
              *ngIf="!gameData[currentPlayerCount].isActive"
              class="fa-2xs fa-solid fa-ban text-red-500 cursor-pointer"
              (click)="togglePlayerStatus(gameData[currentPlayerCount])"
            ></i>
          </div>
          <i
            *ngIf="
              undoLastActionEnabled &&
              !legEnd
            "
            class="fa-2xs fa-solid fa-rotate-left text-red-800 cursor-pointer ml-2 mb-8"
            (click)="undoLastAction()"
          ></i>
        </div>
        <div class="col-start-11 text-center text-5xl mr-5">
          {{ gameData[currentPlayerCount].score }}
        </div>
      </div>
      <div class="grid grid-cols-12 mt-10">
        <div
          class="col-start-1 col-span-2 h-16 flex items-center justify-center bg-white text-black font-extrabold text-4xl"
        >
          {{ gameData[currentPlayerCount].firstDart }}
        </div>
        <div
          class="col-start-4 col-span-2 text-center h-16 flex items-center justify-center bg-white text-black font-extrabold text-4xl"
        >
          {{ gameData[currentPlayerCount].secondDart }}
        </div>
        <div
          class="col-start-7 col-span-2 text-center h-16 flex items-center justify-center bg-white text-black font-extrabold text-4xl"
        >
          {{ gameData[currentPlayerCount].thirdDart }}
        </div>
        <div
          class="col-start-10 col-span-2 text-center h-16 flex items-center justify-center text-gray-500 font-semibold text-4xl"
        >
          {{ gameData[currentPlayerCount].roundTotal }}
        </div>
      </div>
    </div>
    <!-- active player card end -->
    <!-- waiting player cards -->
    <div
      *ngFor="let playerData of gameData; let i = index"
      [ngClass]="{ hidden: currentPlayerCount === i }"
    >
      <div class="bg-gray-700 text-gray-600 shadow-lg p-4 mt-2 mr-1">
        <div class="grid grid-cols-12">
          <div
            class="col-start-1 col-span-2 font-bold text-5xl text-center flex items-center"
          >
            <span>{{ playerData.player }}</span>
            <div class="player-status ml-2 mb-8">
              <i
                *ngIf="playerData.isActive"
                class="fa-2xs fa-solid fa-check text-green-500 cursor-pointer"
                (click)="togglePlayerStatus(playerData)"
              ></i>
              <i
                *ngIf="!playerData.isActive"
                class="fa-2xs fa-solid fa-ban text-red-500 cursor-pointer"
                (click)="togglePlayerStatus(playerData)"
              ></i>
            </div>
          </div>
          <div class="col-start-11 text-center text-5xl mr-5">
            {{ playerData.score }}
          </div>
        </div>
        <div class="grid grid-cols-12 mt-10">
          <div
            class="col-start-1 col-span-2 h-16 flex items-center justify-center bg-gray-500 text-gray-700 font-extrabold text-4xl"
          >
            {{ playerData.firstDart }}
          </div>
          <div
            class="col-start-4 col-span-2 text-center h-16 flex items-center justify-center bg-gray-500 text-gray-700 font-extrabold text-4xl"
          >
            {{ playerData.secondDart }}
          </div>
          <div
            class="col-start-7 col-span-2 text-center h-16 flex items-center justify-center bg-gray-500 text-gray-700 font-extrabold text-4xl"
          >
            {{ playerData.thirdDart }}
          </div>
          <div
            class="col-start-10 col-span-2 text-center h-16 flex items-center justify-center text-gray-600 font-semibold text-4xl"
          >
            {{ playerData.roundTotal }}
          </div>
        </div>
      </div>
    </div>
    <!-- waiting player cards end -->
  </div>
  <div class="score-input">
    <app-dart-board
      *ngIf="!countButtonsEnabled"
      (thrownNumber)="onThrownNumberChange($event)"
    ></app-dart-board>
    <app-dart-count-buttons
      *ngIf="countButtonsEnabled"
      (thrownNumber)="onThrownNumberChange($event)"
    ></app-dart-count-buttons>
  </div>
</div>

<!-- modal area -->
<app-dart-winner-modal
  [isOpen]="winnerModalOpen"
  [winner]="gameData[currentPlayerCount].player"
  [gameData]="gameData"
  (closeModalEvent)="closeWinnerModal()"
></app-dart-winner-modal>

